body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h3 {
    color: #444;
    text-align: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

select,
input[type="submit"] {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    width: 200px;
}

.filter-section {
    text-align: center;
    margin-right: 20px;
}

.filter-section select {
    margin-left: 10px;
}

nav {
    text-align: center;
}

nav a {
    margin: 0 15px;
}

input,
button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  input:hover,
  button:hover {
    background-color: #307c33;
    transform: scale(1.05);
  }

  input:active,
  button:active {
    background-color: #154517;
    transform: scale(0.95);
  }
